USE [master]
GO
/****** Object:  Database [bd2]    Script Date: 10.03.2018 20:33:02 ******/
CREATE DATABASE [bd2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\bd2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bd2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\bd2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd2]
GO
USE [bd2]
GO
/****** Object:  Table [dbo].[ACT_DICT]    Script Date: 10.03.2018 20:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_DICT](
	[act_type] [int] NOT NULL,
	[act_name] [varchar](256) NOT NULL,
 CONSTRAINT [PK_ACT_DICT] PRIMARY KEY CLUSTERED 
(
	[act_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACTIVITY]    Script Date: 10.03.2018 20:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVITY](
	[id_act] [int] NOT NULL,
	[id_req] [int] NOT NULL,
	[act_type] [int] NOT NULL,
	[id_pers] [int] NULL,
	[seq_no] [int] NOT NULL,
	[descr] [varchar](256) NOT NULL,
	[result] [varchar](256) NOT NULL,
	[status] [varchar](10) NOT NULL,
	[alt_req] [varchar](256) NOT NULL,
	[alt_fin_cancel] [varchar](256) NOT NULL,
 CONSTRAINT [PK_ACTIVITY] PRIMARY KEY CLUSTERED 
(
	[id_act] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 10.03.2018 20:33:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[id_cli] [int] NOT NULL,
	[name] [varchar](256) NOT NULL,
	[fname] [varchar](256) NOT NULL,
	[lname] [varchar](256) NOT NULL,
	[telephone] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CLIENT] PRIMARY KEY CLUSTERED 
(
	[id_cli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBJ_TYPE]    Script Date: 10.03.2018 20:33:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJ_TYPE](
	[code_type] [int] NOT NULL,
	[name_type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_OBJ_TYPE] PRIMARY KEY CLUSTERED 
(
	[code_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBJECT]    Script Date: 10.03.2018 20:33:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJECT](
	[nr_obj] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[id_cli] [int] NOT NULL,
	[code_type] [int] NOT NULL,
 CONSTRAINT [PK_OBJECT] PRIMARY KEY CLUSTERED 
(
	[nr_obj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONEL]    Script Date: 10.03.2018 20:33:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONEL](
	[id_pers] [int] NOT NULL,
	[fname] [varchar](50) NOT NULL,
	[lname] [varchar](50) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[login] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PERSONEL] PRIMARY KEY CLUSTERED 
(
	[id_pers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUEST]    Script Date: 10.03.2018 20:33:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST](
	[id_req] [int] NOT NULL,
	[nr_obj] [int] NOT NULL,
	[id_pers] [int] NOT NULL,
	[descr] [varchar](256) NOT NULL,
	[result] [varchar](256) NOT NULL,
	[status] [varchar](10) NOT NULL,
	[alt_req] [varchar](50) NOT NULL,
	[alt_fin_cancel] [varchar](50) NOT NULL,
 CONSTRAINT [PK_REQUEST] PRIMARY KEY CLUSTERED 
(
	[id_req] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACTIVITY]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVITY_ACT_DICT] FOREIGN KEY([act_type])
REFERENCES [dbo].[ACT_DICT] ([act_type])
GO
ALTER TABLE [dbo].[ACTIVITY] CHECK CONSTRAINT [FK_ACTIVITY_ACT_DICT]
GO
ALTER TABLE [dbo].[ACTIVITY]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVITY_PERSONEL] FOREIGN KEY([id_pers])
REFERENCES [dbo].[PERSONEL] ([id_pers])
GO
ALTER TABLE [dbo].[ACTIVITY] CHECK CONSTRAINT [FK_ACTIVITY_PERSONEL]
GO
ALTER TABLE [dbo].[ACTIVITY]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVITY_REQUEST1] FOREIGN KEY([id_req])
REFERENCES [dbo].[REQUEST] ([id_req])
GO
ALTER TABLE [dbo].[ACTIVITY] CHECK CONSTRAINT [FK_ACTIVITY_REQUEST1]
GO
ALTER TABLE [dbo].[OBJECT]  WITH CHECK ADD  CONSTRAINT [FK_OBJECT_CLIENT] FOREIGN KEY([id_cli])
REFERENCES [dbo].[CLIENT] ([id_cli])
GO
ALTER TABLE [dbo].[OBJECT] CHECK CONSTRAINT [FK_OBJECT_CLIENT]
GO
ALTER TABLE [dbo].[OBJECT]  WITH CHECK ADD  CONSTRAINT [FK_OBJECT_OBJ_TYPE] FOREIGN KEY([code_type])
REFERENCES [dbo].[OBJ_TYPE] ([code_type])
GO
ALTER TABLE [dbo].[OBJECT] CHECK CONSTRAINT [FK_OBJECT_OBJ_TYPE]
GO
ALTER TABLE [dbo].[REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_REQUEST_OBJECT] FOREIGN KEY([nr_obj])
REFERENCES [dbo].[OBJECT] ([nr_obj])
GO
ALTER TABLE [dbo].[REQUEST] CHECK CONSTRAINT [FK_REQUEST_OBJECT]
GO
ALTER TABLE [dbo].[REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_REQUEST_PERSONEL] FOREIGN KEY([id_pers])
REFERENCES [dbo].[PERSONEL] ([id_pers])
GO
ALTER TABLE [dbo].[REQUEST] CHECK CONSTRAINT [FK_REQUEST_PERSONEL]
GO
USE [master]
GO
